
	<script src="../ckeditor.js"></script>
	<script src="js/sample.js"></script>
	


				<textarea name="value" id="editor2">
					<h1>Hello world!</h1>
					<p>I'm an instance of <a href="http://ckeditor.com">CKEditor</a>.</p>
				</textarea>
<script>
	CKEDITOR.replace( 'editor2' );
</script>
